@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", serif; */
body{
    font-family: serif;
}
header{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 80%;
    padding: 0px;
    align-items: center;
}

.nav-heading{
    font-size: 20px;
    font-weight: 900;
}

.btn-primary{
    width: 150px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #0D1321;
    opacity: 80%;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}
.banner{
    background: url(/assets/Hero-bg.png);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.banner-heading{
    font-family: cursive;
    font-size: 36px;
    font-weight: 900;
    width: 60%;
    margin: 10px auto;
    text-align: center;
}
.banner-description{
    width: 50%;
    font-size: 14px;
    opacity: 70%;
    line-height: 20px;
    text-align: center;
    margin: 5px auto;
}
.banner-btn{
   font-size: 12px;
   color: #FFFFFF;
   background: #0D1321; 
   padding: 10px;
   border-radius: 5px;
   margin-top: 20px;
}
.about{
    width: 70%;
    margin: 20px auto;
    border: 1px solid skyblue;
    padding: 20px 60px;
    background: lightgreen;
    border-radius: 5px;
    display: none;
}
.about-heading{
    font-weight: 900;
    text-align: center;
    font-family: cursive;
}
.about-description{
    font-size: 12px;
    opacity: 70%;
    line-height: 20px;
    text-align: center;
}
.about-card-1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(255, 255, 255), lightgreen);
    padding: 20px 50px;
    border-radius: 5px;
}
.about-card-2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    background-image: linear-gradient(to left, rgb(255, 255, 255), lightgreen);
    padding: 20px 50px;
    border-radius: 5px;
}
.about-card-text{
    width: 50%;
}
.about-card-img{
    width: 30%;
}
.about-card-heading{
    font-family: cursive;
    opacity: 90%;
    padding-top: 20px;
}
.about-card-description{
    font-size: 12px;
    opacity: 70%;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 20px;
}
.video-description{
    width: 80%;
    margin: 0px auto;
    font-size: 14px;
    opacity: 70%;
    line-height: 20px;
    text-align: center;
}
.video > div{
    border: 2px solid rgba(0, 0, 0, 0.102);
    border-radius: 10px;
    background: whitesmoke;
    margin: 50px auto;
    width: 60%;
    padding: 20px;
}
.video div > iframe{
    border-radius: 10px;
    width: 100%;
}